html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    background-color: #000;
    box-sizing: border-box;
    color: #ccc;
    height: 100%;
    max-width: 480px;
    min-width: 240px;
    overflow: auto;
    padding: 8px;

    &>h1 {
        display: none;
    }
}

.block-list-page,
.block-detail-page,
.home-page {
    &>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &>ul>li {
        display: block;
        height: 40px;
        width: 100%;
    }

    &>ul>li>a {
        box-sizing: border-box;
        display: block;
        height: 100%;
        overflow: hidden;
        padding: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:hover {
            background-color: #333;
        }
    }

    &>ul>li>span {
        box-sizing: border-box;
        display: block;
        height: 100%;
        overflow: hidden;
        padding: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
}

.home-page {
    &>form {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        justify-content: flex-start;
        padding: 8px;
    }

    &>form>input[type="text"] {
        background-color: #000;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #ccc;
        display: block;
        flex: 4;
        font-size: 1rem;
        outline-offset: 0;
        padding: 4px;
        width: 100%;

        &:focus-visible {
            outline: 2px solid #ccc;
        }
    }

    &>form>button[type="submit"] {
        background-color: #000;
        border: 1px solid #ccc;
        box-shadow: 2px 2px #ccc;
        box-sizing: border-box;
        color: #ccc;
        cursor: pointer;
        display: block;
        flex: 1;
        font-size: 1rem;
        outline-offset: 0;
        padding: 4px 16px;
        width: 100%;

        &:focus-visible,
        &:hover {
            box-shadow: 3px 3px #ccc;
            outline: 2px solid #ccc;
            transform: translate(-1px, -1px);
        }
    }

    &>h2 {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        font-size: 100%;
        height: 40px;
        justify-content: flex-start;
        margin: 0;
        padding: 8px;
    }
}

.about {
    align-items: center;
    color: #ccc;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    height: 64px;
    padding: 8px;
    width: 200px;

    &>.about-icon {
        flex: none;
        height: 64px;
        width: 64px;
    }

    &>.about-icon>img {
        display: block;
        height: 100%;
        width: 100%;
    }

    &>.about-text {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
    }

    & .brand {
        font-weight: bold;
    }

    & .version {
        font-size: 0.85rem;
        opacity: 0.7;
    }

    & a {
        color: #09f;
        font-size: 0.85rem;
        text-decoration: underline;
        white-space: nowrap;
    }
}


a {
    color: #09f;
}

.breadcrumb-list {
    &>ol {
        display: flex;
        flex-flow: column nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &>ol>li {
        display: block;
        height: 40px;
        width: 100%;
    }

    &>ol>li>a {
        align-items: center;
        box-sizing: border-box;
        color: #ccc;
        display: flex;
        flex-flow: row nowrap;
        gap: 4px;
        height: 100%;
        padding: 8px;
        text-decoration: none;
        width: 100%;

        &:hover {
            background-color: #333;
        }
    }

    &>ol>li>a>.icon {
        display: block;
        flex: none;
        height: 24px;
        width: 24px;
    }

    &>ol>li>a>.text {
        display: block;
        font-weight: bold;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
}

.character {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    flex-flow: column nowrap;
    justify-content: center;

    &:not(.thumbnail) {
        display: flex;
        font-size: 128px;
        height: 160px;
        width: 160px;
    }

    &.thumbnail {
        display: inline-flex;
        font-size: 16px;
        height: 24px;
        width: 24px;
    }
}
